/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

÷

body {
    background-color: #2E3445;
}
#navbar {
    background-color: #525E65;
}

/* #skills, #gallery{
    background-color: #2E3445;
} */

.logo{
    height: 30vh;
    width: 30vh;
}
#page {
    background-image: url(img/img-bg.jpg);
    /* background-color: #2E3445; */
    background-position: center;
    background-size: cover;
    background-attachment:scroll;
    background-repeat: no-repeat;
    min-height:100vh;
  }

#greeting {
    font-size: 2.8rem;
    font-weight: bolder;
}

#desc {
    font-size: 1.5rem;
}

#subtitle {
    font-size: 1.1rem;
}


#bg-image {
    background-color: rgba(0, 0, 0, 0.60);
    min-height:100vh;
}

h3 {
    font-size: 1rem;;
}

h2 {
    font-size .80rem;
}

